<div class="container bg-white">
    <div class="encabezado">
        <h2>Porfolio</h2>
        <p>Donec ullancorper nulla non metus auctor fringila. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/audi-a3-quattro-winter-picture-id458982099?k=20&m=458982099&s=612x612&w=0&h=hFYFLRO74Z4KTwOWcLpawVrqizU36EZAnYojRJ5QnwY=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Audi A3</h5>
              <p class="card-text">I love cars and my dream is create a new car Audi A3. Sportier, more aggressive and more comfortable than ever.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="https://media.istockphoto.com/photos/mountain-peak-zugspitze-summer-day-at-lake-eibsee-near-garmisch-picture-id1042404662?k=20&m=1042404662&s=612x612&w=0&h=Bjb0K0_frNQp9RSSrcERDe_tkh8E3iBs5dGcIrApD4E=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Disconnect</h5>
              <p class="card-text">Sites where you can clear your mind and focus on the goal you are really looking for.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src= "https://media.istockphoto.com/photos/hacker-attacking-internet-picture-id540848970?k=20&m=540848970&s=612x612&w=0&h=O0Zq7j3fjxCl1l1_9VWjKZVqUz7QSUtv7hb9kfKEQgE=" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hacker</h5>
              <p class="card-text">Working with computers and being able to hack everything you want is as easy as applying yourself to knowing this world.</p>
            </div>
          </div>
        </div>
    </div>
</div>
