<!-- your html code here -->
<section class="about">
    <div class="textandimage textandimageservices">
      <div class="textcontainer tcontainer">
        <div class="col-lg-4">
          <h1>
            The Second Heading
            <span class="greytext">Is Pretty Cool Too.</span>
          </h1>
          <p class="paragraph">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce daoibus, tellus ac cursus
            commodo.
          </p>
        </div>
      </div>
    </div>
</section>